<h1 style="text-align: center">Login</h1>
<div class=login>
   <form [formGroup]="LoginForm" class="login-container" (ngSubmit)="login()">
   <p [ngClass]="{ 'has-error': isSubmitted && formControls.userName.errors}">
      <input type="text" placeholder="username" formControlName="userName">
   </p>
   <div *ngIf="isSubmitted && formControls.userName.errors" class="help-block">
      <div *ngIf="formControls.userName.errors.required">userName is required</div>
   </div>
   <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors}">
      <input type="password" placeholder="password" formControlName="password">
   </p>
   <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
      <div *ngIf="formControls.password.errors.required">Password is required</div>
   </div>
   <input type="submit" value="login" >
   <div>
      <section id="nav-bar">
         <nav class="navbar navbar-expand-sm navbar-light bg-light ">
            <a class="navbar-brand" href="#"><img src="assets/logo.jpg"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
               aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>  
         </nav>
      </section>
      <h6 style="text-align: center"> All rights reserved </h6>
   </div>
   </form>
</div>